.wrapper{
    display: flex;
    box-sizing: border-box;
    outline: 3px dashed darkcyan;
    font-size: 2em;
}

.col {
    height: 100vh;
    padding: 50px 25px;
}

.leftCol{
    background-color: coral;
    width: 70%;
}

.rightCol{
    background-color: lightgreen;
    width: 30%;
}

.topbar{
    background-color: lightblue;
}

.experience{
    background-color: rgb(223, 173, 230);
}

